<%- include('partials/header') %>

<h1>Categories</h1>
<p>This is the categories page.</p>
<ul>
    <li>Environmental</li>
    <li>Educational</li>
    <li>Community Service</li>
    <li>Health and Wellness</li>
</ul>
<%- include('partials/footer') %>