<%- include('partials/header') %>

<h1>Categories</h1>
<p>This is the categories page.</p>
<ul>
    <% categories.forEach(category => { %>
        <li><a href="/categories/<%= category.category_id %>"><strong><%= category.category_name %></strong></a></li>
    <% }); %>
</ul>
<%- include('partials/footer') %>